POSTGRES_USER=cmdb
POSTGRES_PASSWORD=changeme
POSTGRES_DB=cmdb

ZABBIX_URL=https://zabbix.internal
# API-Token (empfohlen) ODER User+Passwort
ZABBIX_API_TOKEN=
ZABBIX_USER=Admin
ZABBIX_PASSWORD=zabbix
